<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar-more">
            <img
                src="./assets/icons/more.svg"
                alt=""
                class="icon top-bar-more-img"
            />
        </button>
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo-img"
            />
            <h1 class="logo-title">grocerymart</h1>
        </a>
        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar-list">
                <li>
                    <a href="" class="navbar-link">
                        Departments
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar-arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar-link">
                        Grocery
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar-arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar-link">
                        Beauty
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar-arrow"
                        />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act-group top-act-group-single">
                <button class="top-act-btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt="search"
                        class="icon top-act-icon"
                    />
                </button>
            </div>
            <div class="top-act-group">
                <button class="top-act-btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt="heart"
                        class="icon top-act-icon"
                    />
                    <span class="top-act-title">03</span>
                </button>

                <div class="top-act-separate"></div>

                <button class="top-act-btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt="buy"
                        class="icon top-act-icon"
                    />
                    <span class="top-act-title">$65.42</span>
                </button>
            </div>
            <div class="top-act-user">
                <img
                    src="./assets/images/avatar.jpeg"
                    alt=""
                    class="top-act-avatar"
                />
            </div>
        </div>
    </div>
</div>
